.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

select,
button {
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
}

p {
  margin: 0;
  font-weight: bold;
  color: #333;
}
.container {
  text-align: center;
  margin: 50px;
}

.input-container {
  margin-bottom: 20px;
}

.result {
  margin-top: 20px;
}

.visualization {
  display: flex;
  justify-content: center;
}

.array-box {
  width: 40px;
  height: 40px;
  border: 2px solid #3498db; /* Border color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #3498db; /* Text color */
  background-color: #ecf0f1; /* Background color */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.array-box.active {
  background-color: #e74c3c; /* Active background color */
  color: #fff; /* Active text color */
}

.array-box:hover {
  background-color: #2980b9; /* Hover background color */
  color: #fff; /* Hover text color */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
