h1 {
  color: #3498db;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

select,
button {
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}

p {
  margin: 0;
  font-weight: bold;
  color: #333;
}
body {
  background-color: whitesmoke;
}
.container {
  text-align: center;
  margin: 150px auto;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
}

.input-container {
  margin-bottom: 20px;
}

.result {
  margin-top: 20px;
}

.visualization {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.array-box {
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  display: flex;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  font-size: 16px;
  font-weight: bold;
  color: #3498db;
  background-color: #ecf0f1;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.array-box.active {
  background-color: #e74c3c;
  color: #fff;
}

.array-box:hover {
  background-color: #2980b9;
  color: #fff;
}
.sorted-array {
  margin-top: 20px;
}

.sorted-array span {
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}
